@import "./reset";
@import "./themes/dark";
@import "./themes/normal";
@import "./variables/global";

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}
