.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input {
    background-color: var(--grey-color-1);
    border: 1px solid var(--grey-color-1);
    border-radius: var(--border-radius-m);
    transition-duration: 0.25s;
    height: var(--input-height);
    padding: 10px 20px 6px 16px;
    width: var(--input-login-width);
    margin-top: 10px;

    &:hover {
      background-color: var(--grey-color-2);
      border-color: var(--grey-color-2);
    }

    &:focus {
      background-color: var(--white-color);
      border: 1px solid var(--black-color);
    }
  }


  .loginBtn {
    margin-top: 15px;
    background-color: var(--pink-color-1);
    transition-duration: 0.25s;
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    height: var(--input-height);

    &:hover {
      background-color: var(--pink-color-2);
    }

    &:active {
      background-color: var(--pink-color-3);
    }
  }

}